<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="Capstone.Properties" GeneratedClassName="Settings">
  <Profiles />
  <Settings>
    <Setting Name="Connectionstring" Type="System.String" Scope="Application">
      <Value Profile="(Default)">Data Source=.\SQLexpress;Initial Catalog=NationalPark;Integrated Security=True</Value>
    </Setting>
    <setting name="DataSourceIsDatabase" serializeAs="String">
      <value>True</value>
    </setting>
  </Settings>
</SettingsFile>

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CapstoneDatabase" connectionString="Data Source=.\SQLexpress;Initial Catalog=NationalPark;Integrated Security=True"/>
  </connectionStrings>
</configuration>-->